# Ignorer les fichiers système et les caches
.DS_Store
Thumbs.db
.sass-cache/

# Ignorer les logs et fichiers temporaires
*.log
*.tmp
*.swp

# Ignorer les dossiers de dépendances
node_modules/
vendor/

# Ignorer les configurations d'IDE
.vscode/
.idea/

# Dossiers de build ou de distribution (si utilisés)
dist/
build/


# personal
/www/videos/*

/www/images/projets/data/*
!www/images/projets/data/pwBI_taxi_data.webp

/www/images/projets/global/*
!www/images/projets/global/Taxi_NYC.webp

/www/images/projets/results/*
!www/images/projets/results/pwBI_taxi_results.webp

/www/images/portraits/*

/vendor/

composer.json
composer.lock
.env
python3-minimal_3.10.6-1~22.04.1_amd64.deb
structure.txt

/data/projets/*
!data/projets/7_analyse_NYC_Taxi.xlsx
