
/* 9. Responsivité */
@media  (max-width: 1600px) {
  /* Style des cartes de projets */
    .wrapper-projets {
        max-width: 1600px; 
        width: 100vw;
    }
    /* Style des cartes de projets */
    .carousel-container {
        max-width: 100%;
        width: 100%;
    }

    .carousel-track {
        width: 80vw;
    }

    .projet-card-frame {
        flex: 0 0 33.333% ;  /* Sur PC, 4 cartes visibles (chaque carte occupe 25% de la largeur) */
    }
}

@media  (max-width: 1024px) {
    .wrapper-projets {
        max-width: 1024px; 
        width: 100vw;
    }
    /* Style des cartes de projets */
    .carousel-container {
        max-width: 100%;
        width: 100%;
    }
    
    .carousel-track {
        width: 80vw;
    }

    .projet-card-frame {
          flex: 0 0 50% ;  /* Sur PC, 4 cartes visibles (chaque carte occupe 25% de la largeur) */
    }
}


@media (max-width: 768px) {

    .wrapper-projets {
        max-width: 768px; 
        width: 100vw;
    }
    /* Style des cartes de projets */
    .carousel-container {
    max-width: 100%;
    width: 100%;
    }
    
    .carousel-track {
    width: 95vw;
    }

    .projet-card-frame {
          flex: 0 0 100% ;  /* Sur PC, 4 cartes visibles (chaque carte occupe 25% de la largeur) */
    }

} 

@media (orientation: portrait) and (max-width: 768px) {
    header nav a {
        display: none; /* On pourrait masquer les liens et les afficher via le menu hamburger */
    }

    .nav-left {
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 2rem;

    }

    p {
        font-size: 1rem;
    }

    .wrapper-projets, .projet-list, .carousel-container {
        width: 100vw;
        margin: 0;
        padding: 0;
    } 

    .wrapper-accueil, .wrapper-a-propos, .wrapper-contact {
        max-width: 100vw; 
    }  
    
    #accueil h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;

    }
    

    h3 {
        font-size: 1.3rem;

    }

    #accueil p {
        font-size: 1rem;
    }

    #a-propos, #projets, #contact {
        padding-top: 5.5rem; /* pour éviter que le contenu passe sous le header */
        width: 98vw;
    }

    .container-contact {
        max-width: 100%;
    }

    /* Conteneur pour l'image à gauche */
    .image-container {
        display: none;
    }

    .image-contact img {
        display: none;
    }

    /* Conteneur pour le formulaire à droite */
    .form-container {
        width: 100%;
    }

    .input-row input {
        flex: 1;
        padding: 8px;
        border: 1px solid var(--soft-color);
        border-radius: 3px;
        width: 500%;
    }

    textarea {
        max-height: 50vh;
        height: 120px;
        resize: vertical;
    } 
}


@media (orientation: portrait) and (max-width: 480px) {
    header nav a {
        display: none; /* On pourrait masquer les liens et les afficher via le menu hamburger */
        max-width: 100vw;
    }

    .nav-left {
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 1.5rem;

    }

    p {
        font-size: 1rem;
    }

    .wrapper-projets, .projet-list, .carousel-container {
        width: 100vw;
        margin: 0;
        padding: 0;
    } 

    .wrapper-accueil, .wrapper-a-propos, .wrapper-contact {
        max-width: 100vw; 
    }   

    #accueil {
        width : 97%;
    }

    #accueil h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;

    }
    

    h3 {
        font-size: 1rem;

    }

    #accueil p {
        font-size: 1rem;
    }

    #a-propos, #projets, #contact {
        padding-top: 5.5rem; /* pour éviter que le contenu passe sous le header */
        width: 98vw;
    }/* Conteneur principal avec flexbox pour disposer l'image et le formulaire côte à côte */

    .container-contact {
        max-width: 100%;
    }

    /* Conteneur pour l'image à gauche */
    .image-container {
        display: none;
    }

    .image-contact img {
        display: none;
    }

    /* Conteneur pour le formulaire à droite */
    .form-container {
        width: 100%;
    }

    .input-row input {
        flex: 1;
        padding: 8px;
        border: 1px solid var(--soft-color);
        border-radius: 3px;
        width: 500%;
    }

    textarea {
        max-height: 50vh;
        height: 120px;
        resize: vertical;
    } 

}


@media (orientation: portrait) and (max-width: 380px) {
    header nav a {
        display: none; /* On pourrait masquer les liens et les afficher via le menu hamburger */
        max-width: 100vw;
    }

    .nav-left {
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 1.2rem;

    }

    h2 {
        font-size: 1rem;

    }
    

    h3 {
        font-size: 0.9rem;

    }

    p {
        font-size: 0.9rem;
    }  

    .wrapper-projets, .projet-list, .carousel-container {
        width: 100vw;
        margin: 0;
        padding: 0;
    } 

    .wrapper-accueil, .wrapper-a-propos, .wrapper-contact {
        max-width: 100vw; 
    }    

    #accueil h1 {
        font-size: 1.2rem;
    }

    #accueil p {
        font-size: 0.9rem;
    }

    #a-propos, #projets, #contact {
        padding-top: 5.5rem; /* pour éviter que le contenu passe sous le header */
        width: 100vw;
    }

    /* Conteneur principal avec flexbox pour disposer l'image et le formulaire côte à côte */
    .container-contact {
        max-width: 100%;
    }

    /* Conteneur pour l'image à gauche */
    .image-container {
        display: none;
    }

    .image-contact img {
        display: none;
    }

    /* Conteneur pour le formulaire à droite */
    .form-container {
        width: 100%;
    }

    .input-row input {
        flex: 1;
        padding: 8px;
        border: 1px solid var(--soft-color);
        border-radius: 3px;
        width: 500%;
    }

    textarea {
        max-height: 50vh;
        height: 120px;
        resize: vertical;
    } 

}