
/* 9. Responsivité */
@media (max-width: 768px) {
    header nav a {
        display: none; /* On pourrait masquer les liens et les afficher via le menu hamburger */
    }

    h1 {
        font-size: 2rem;

    }

    p {
        font-size: 1rem;
    }

    .wrapper-projets, .projet-list, .carousel-container {
        width: 100vw;
        margin: 0;
        padding: 0;
    } 

    .wrapper-accueil, .wrapper-a-propos, .wrapper-contact {
        max-width: 100vw; 
    }  
    
    #accueil h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;

    }
    

    h3 {
        font-size: 1.3rem;

    }

    #accueil p {
        font-size: 1rem;
    }

    #a-propos, #projets, #contact {
        padding-top: 5.5rem; /* pour éviter que le contenu passe sous le header */
        width: 98vw;
    }
}


@media (max-width: 480px) {
    header nav a {
        display: none; /* On pourrait masquer les liens et les afficher via le menu hamburger */
        max-width: 100vw;
    }

    h1 {
        font-size: 1.5rem;

    }

    p {
        font-size: 1rem;
    }

    .wrapper-projets, .projet-list, .carousel-container {
        width: 100vw;
        margin: 0;
        padding: 0;
    } 

    .wrapper-accueil, .wrapper-a-propos, .wrapper-contact {
        max-width: 100vw; 
    }   

    #accueil {
        width : 97%;
    }

    #accueil h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;

    }
    

    h3 {
        font-size: 1rem;

    }

    #accueil p {
        font-size: 1rem;
    }

    #a-propos, #projets, #contact {
        padding-top: 5.5rem; /* pour éviter que le contenu passe sous le header */
        width: 98vw;
    }

}


@media (max-width: 380px) {
    header nav a {
        display: none; /* On pourrait masquer les liens et les afficher via le menu hamburger */
        max-width: 100vw;
    }

    h1 {
        font-size: 1.2rem;

    }

    h2 {
        font-size: 1rem;

    }
    

    h3 {
        font-size: 0.9rem;

    }

    p {
        font-size: 0.9rem;
    }  

    .wrapper-projets, .projet-list, .carousel-container {
        width: 100vw;
        margin: 0;
        padding: 0;
    } 

    .wrapper-accueil, .wrapper-a-propos, .wrapper-contact {
        max-width: 100vw; 
    }    

    #accueil h1 {
        font-size: 1.2rem;
    }

    #accueil p {
        font-size: 0.9rem;
    }

    #a-propos, #projets, #contact {
        padding-top: 5.5rem; /* pour éviter que le contenu passe sous le header */
        width: 100vw;
    }
}