
/* 9. Responsivité */
@media (orientation: landscape) and (max-width: 768px) {
    header nav a {
        display: none; /* On pourrait masquer les liens et les afficher via le menu hamburger */
    }

    header nav #sectionTitle {
        display: block;
        font-size: 2rem;
        color: var(--primary-text);
        margin-left: 1rem;
    }

    .nav-left {
        display: flex;
        align-items: center;
    }
    

    h1 {
        font-size: 2rem;

    }

    h2 {
        display: none;

    }
    
    h3 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1rem;
    }

    .sidebar-profile img {
        display: none;
    }

    .profile-email {
        display: none;
    }

    .sidebar-menu {
        margin-top: 0px;
        padding: 0 1rem;
    }

    .sidebar-link {
        padding: 0.3rem 0;
    }

    .sidebar-actions {

        margin-top: 15px;
        padding: 0 0.5rem;
    }

        .btn-view-cv {
            padding: 0.3rem;
        }

    .sidebar-social {
        margin-top: 20px;
    }

    .wrapper-projets, .projet-list, .carousel-container {
        width: 100vw;
        margin: 0;
        padding: 0;
    } 

    .wrapper-accueil, .wrapper-a-propos, .wrapper-contact {
        max-width: 100vw; 
    }  
    
    #accueil h1 {
        font-size: 2rem;
    }

    #accueil {
        padding-top: 6rem;
    }

    #accueil p {
        font-size: 1rem;
    }

    #a-propos, #projets, #contact {
        padding-top: 5.5rem; /* pour éviter que le contenu passe sous le header */
        width: 98vw;
    }

    .projet-list {
        margin: 0;
    }

    .projet-card {
        margin-top: 0;
        padding-top: 0;
    }

    .projet-card-frame {
        margin-top:0;
        height : 75vh;
        min-height: 250px;
        max-height: 290px;
    }

    .card-image img {
        width: 100%;
        /* max-height: 25vh; */
        height: 50px;
        object-fit: cover;            /* Recadre l’image pour qu’elle remplisse la zone */
        display: block;               /* Supprime l’espace blanc en bas des images inline */
        transition: transform 0.3s ease;
    }

    .card-pwrBi-icon {
        top: 55px;
        right: 55px;
    }

    .card-github-icon {
        top: 55px;
        right: 10px;
    }

    .card-streamlit-icon {
        top: 55px;
        right: 55px;
    }

    .card-video-icon {
        top: 55px;
        right: 55px;
    }

    #contact {
        padding-top: 4rem;
    }

    #contact textarea {
        max-height: 18vh;
        height: 130px;
        resize: vertical;
    }
}
