/**************************************************/
/* 1) Le conteneur du carrousel                   */
/**************************************************/
.carousel-container {
  position: relative;      /* pour positionner les boutons si besoin */
  width: 100%;             /* prend toute la largeur possible */
  max-width: 1600px;       /* tu peux fixer une largeur max si tu veux */
  margin: 0 auto;          /* centre le carrousel */

  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* pour un scroll fluide sur mobile */

  scrollbar-width: none; /* Pour Firefox */
  -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}


.carousel-container::-webkit-scrollbar {
  display: none; /* Pour Chrome, Safari et Opera */
}

.carousel-track::-webkit-scrollbar {
  display: none; /* Pour Chrome, Safari et Opera */
}

/**************************************************/
/* 2) La piste qui contient toutes les cartes     */
/**************************************************/
.carousel-track {
  display: flex; 
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;        /* masque ce qui déborde à gauche/droite */
  overflow-x: auto;
  scrollbar-width: none;;
}

/**************************************************/
/* 3) Chaque carte (plein écran)                  */
/**************************************************/
  /* Style des cartes de projets */
  .projet-card-frame {
    flex: 0 0 25% ;  /* Sur PC, 4 cartes visibles (chaque carte occupe 25% de la largeur) */
    margin-top:2%;
    height : 75vh;
    min-height: 530px;
    max-height: 600px;
  }
  
  .projet-card {
    box-sizing: border-box;
    background: var(--sidebar-bg-gradient); /* Exemple d’utilisation de vos variables */
    border-radius: 15px;
    margin: 2.6%;
    padding: 0;
    text-align: center;

    box-shadow: 4px 4px 8px var(--box-shadow);
    overflow: hidden;            /* Masque tout ce qui dépasse (utile si l’image déborde)*/

    position: relative;
    scroll-snap-align: start; /* ou 'center' si vous préférez centrer */
    height: 90%;
  }

  .projet-card:hover {
    box-shadow: 0 8px 20px var(--box-shadow-accent);
  }

/**************************************************/
/* 5) Ex. de style pour l'image et le contenu     */
/**************************************************/

.card-image {
  position: relative;
}

/* Zone d'image */
.card-image input[type="image"] {
  width: 100%;
  /* max-height: 25vh; */
  height: 180px;
  object-fit: cover;            /* Recadre l’image pour qu’elle remplisse la zone */
  display: block;               /* Supprime l’espace blanc en bas des images inline */
  transition: transform 0.3s ease;
}

.projet-card:hover .card-image input[type="image"] {
  transform: scale(1.1);
}
  
  @keyframes zoomEffect {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(1.1);
    }
    20% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  .card-github-icon:hover, .card-pwrBi-icon:hover, .card-video-icon:hover, .card-streamlit-icon:hover {
    background-color: rgb(255, 255, 255, 0.85);
    transform: scale(1.1);
  }

  .card-pwrBi-icon img, .card-github-icon img, .card-video-icon img  {
    width: 100%;
    height: 100%;
  }

  .card-streamlit-icon img {
    width: 100%;
    height: 100%;
  }
  

  /* Style de base pour la modal video */
/* Overlay de la modal, occupe tout l'écran */
.modal {
  display: none; /* cachée par défaut */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 13, 39, 0.8); /* fond semi-transparent */
  z-index: 1000;
}

/* Contenu de la modal centré */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 1rem;
  width: 90%;
  max-width: 800px;
  border-radius: 8px;
}

/* Bouton de fermeture */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2rem;
  cursor: pointer;
}



/* Contenu texte */
.card-content {
  padding: 1rem 1.5rem;
  color: var(--primary-text);
  text-align: left;
  min-height: auto;
}

.title-frame {
  margin: 0;
  width:75%;
}

  .card-pwrBi-icon {
    position: absolute;
    top: 190px;
    right: 55px;
    width: 40px; /* Taille ajustable */
    height: 40px;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 25%;
    border: 2px solid #000;
    animation: zoomEffect 3.5s ease-in-out infinite;
  }

  .card-github-icon {
    position: absolute;
    top: 190px;
    right: 10px;
    width: 40px; 
    height: 40px;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 25%;
    border: 2px solid #000;
    animation: zoomEffect 3.5s ease-in-out infinite;
  }

  .card-streamlit-icon {
    position: absolute;
    top: 190px;
    right: 55px;
    width: 40px; /* Taille ajustable */
    height: 40px;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 25%;
    border: 2px solid #000;
    animation: zoomEffect 3.5s ease-in-out infinite;
  }

  .card-video-icon {
    position: absolute;
    top: 190px;
    right: 55px;
    width: 40px; /* Taille ajustable */
    height: 40px;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 25%;
    border: 2px solid #000;
    animation: zoomEffect 3.5s ease-in-out infinite;
  }

.card-content h3 {
  color: var(--accent-color);
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  transition: color 0.3s ease;
  text-align: left;
}

.projet-card:hover .card-content h3 {
  color: var(--accent-color-hover);
}


.card-content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: justify;
  color: var(--primary-text); 
}

/* Tags */
.tags {
  display: flex;
  gap: 0.5rem;                  /* Espace entre les tags */
  flex-wrap: wrap;              /* Permet le retour à la ligne si trop de tags */
}

.tags span {
  background-color: var(--btn-bg-color);       /* Fond du tag (placeholder) */
  color: var(--btn-ft-color);
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-size: 0.9rem;
}



.projet-card {
  position: relative;
  overflow: hidden; /* Permet de masquer l'image lorsqu'elle sort du conteneur */
}

.first{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  z-index: 9; 
}

.projet-card-frame.animate .click-here .first {
  /* Animation continue sur 9,5 secondes */
  animation: imageMotion 10s infinite;
  /* Utilisation d'une courbe d'accélération/décélération pour un mouvement naturel */
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projet-card-frame.animate {
  /* Animation continue sur 9,5 secondes */
  animation: frameMotion 10s infinite;
  /* Utilisation d'une courbe d'accélération/décélération pour un mouvement naturel */
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes imageMotion {
  /* Départ : l'image est hors de la vue à droite, avec une légère décalage vertical */
  10% {
    transform: translateX(0%) translateY(0%) scale(1);
    /* opacity: 0; */
  }
  /* Approche rapide avec apparition progressive */
  20% {
    transform: translateX(-350%) translateY(-120%) scale(1);

  }

  21% {
    transform: translateX(-350%) translateY(-120%) scale(0.9);
  }

  22% {
    transform: translateX(-350%) translateY(-120%) scale(1);
  }

  23% {
    transform: translateX(-350%) translateY(-120%) scale(0.9);
  }

  24% {
    transform: translateX(-350%) translateY(-120%) scale(1);
  }

  34% {
    transform: translateX(-350%) translateY(-120%) scale(1);
  }

  48% {
    transform: translateX(0%) translateY(0%) scale(1);
  }

}

@keyframes frameMotion {
  /* Départ : l'image est hors de la vue à droite, avec une légère décalage vertical */
  10% {
    transform: translateX(0%) translateY(0%) scale(1);
    /* opacity: 0; */
  }
  /* Approche rapide avec apparition progressive */
  20% {
    transform: translateX(0%) translateY(0%) scale(1);

  }

  21% {
    transform: translateX(0%) translateY(0%) scale(0.988);
  }

  22% {
    transform: translateX(0%) translateY(0%) scale(1);
  }

  23% {
    transform: translateX(0%) translateY(0%) scale(0.988);
  }

  24% {
    transform: translateX(0%) translateY(0%) scale(1);
  }

  34% {
    transform: translateX(0%) translateY(0%) scale(1);
  }

  48% {
    transform: translateX(0%) translateY(0%) scale(1);
  }

}




/**************************************************/
/* 6) Boutons (facultatifs si pas de JS)          */
/**************************************************/
/* Boutons de défilement fixes sur l'écran */
.carousel-btn {
  position: absolute; /* Remplace fixed par absolute */
  background: var(--btn-bg-theme-toggle);
  border: none;
  color: var(--primary-text-oposite);
  opacity: 0.65;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s ease;
  z-index: 1000;
}

/* Bouton gauche et bouton droit */
.carousel-btn.prev {
  position: absolute;
  top: -20px; 
  left: -30px; 
}

.carousel-btn.next {
  position: absolute;
  top: -20px; 
  left: 30px; 
}

/* Positionnement vertical initial (sera ajusté en JS si nécessaire) */
.carousel-btn {
  top: 50%;
  transform: translateY(-50%);
}

.carousel-btn:hover {
  scale: 1.1;
  transition: transform 0.3s ease;
}

