:root {
    --bg-gradient: linear-gradient(180deg, #042433 0%, #003366 100%);
    --header-bg-gradient: linear-gradient(90deg, #003366, #042433);
    --section-bg-gradient: linear-gradient(180deg, #003366, #042433);
    --sidebar-bg-gradient: linear-gradient(180deg, #003366, #042433);
    --footer-bg-gradient: linear-gradient(90deg, #003366, #042433);

    --btn-bg-theme-toggle: rgb(236, 236, 236);

    --btn-bg-color: #BD7203;
    --btn-bg-color-hover: #FBAA01;
    --btn-ft-color: #F2F2F2;

    --link: #FFC000;
    --link-hover: #FFCC33;

    --primary-text: #F2F2F2;
    --primary-text-oposite: #042433;
    --accent-color: #FFC000;
    --soft-color: #CCCCCC;
    
    --h1-color: #FFCC33;
    --paragraph-color: #E8E8E8;

    --border: #6C7277;
    --box-shadow: rgba(255, 255, 255, 0.2);
    --box-shadow-accent: rgba(0, 0, 0, 0.1);

    --table-thead-bg: #003366;
    --table-thead-color: #F2F2F2;
    --table-tbody-bg: #E8E8E8;
    --table-td-color: #003366;
    --table-thead-hover-bg: #123e69;
    --table-tbody-hover-bg: #CCCCCC;
    --table-td-hover-color: #003366; 

}

body.clear-mode  {
    --bg-gradient: linear-gradient(180deg, #F2F2F2 0%, #E8E8E8 100%);
    --header-bg-gradient: linear-gradient(90deg, #FFFFFF, #CCCCCC);
    --section-bg-gradient: linear-gradient(180deg, #FFFFFF, #E8E8E8);
    --sidebar-bg-gradient: linear-gradient(180deg, #FFFFFF, #CCCCCC);
    --footer-bg-gradient: linear-gradient(90deg, #FFFFFF, #CCCCCC);

    --btn-bg-theme-toggle: rgb(56, 56, 56);

    --btn-bg-color: #003366;
    --btn-bg-color-hover: #042433;
    --btn-ft-color: #FFFFFF;

    --link: #4178AF;
    --link-hover: #003366;

    --primary-text: #042433;
    --primary-text-oposite: #F2F2F2;
    --accent-color: #4178AF;
    --soft-color: #6C7277;
    
    --h1-color: #003366;
    --paragraph-color: #6C7277;

    --border: #CCCCCC;
    --box-shadow: rgba(0, 0, 0, 0.2);
    --box-shadow-accent: rgba(255, 255, 255, 0.1);

    --table-thead-bg: #003366;
    --table-thead-color: #F2F2F2;
    --table-tbody-bg: #E8E8E8;
    --table-td-color: #003366;
    --table-thead-hover-bg: #123e69;
    --table-tbody-hover-bg: #CCCCCC;
    --table-td-hover-color: #003366; 
}

/* 1. Reset de base */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    justify-content: center; 

}

/* 2. Styles généraux du body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--bg-gradient);
    color: var(--primary-text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* 3. Header et navigation */
header {
    max-width: 1024px;
    width: 100%;
    background: var(--header-bg-gradient); /*rgba(255, 255, 255, 0.9); Blanc avec 40% d'opacité */
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Mise à jour pour 3 blocs */
    padding: 1rem 2rem;
}

/* Blocs du header */
.nav-left,
.nav-center,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-center {
    flex: 1;
    justify-content: center;
}

.nav-left {
    display: none;
}

header nav #sectionTitle {
    display: none;
}

/* Boutons dans le header (hamburger & theme toggle) */
header nav button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
    color: var(--primary-text);
    transition: transform 0.2s ease;
}

header button.btn-theme-toggle {
    background: var(--btn-bg-theme-toggle);
    border-radius: 40%;
    padding: 0.5rem;
    margin: 0 1rem;
}

header button.btn-theme-toggle svg {
    stroke: var(--primary-text-oposite);
}

header nav button:hover {
    transform: scale(1.1);
}

/* Liens du menu principal */
header nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--primary-text);
    font-weight: 500;
    transition: color 0.2s ease;
}

header nav a:hover {
    color: var(--link-hover);
}

/* 4. Section d'accueil (hero) */
main {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--section-bg-gradient);
    align-items: center;
    width: 100%;
}

main a {
    color: var(--link);
    text-decoration: none;
}

/* 6. Sections internes */
section {
    padding: 4rem 2rem;
    margin: 0 auto;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

section p {
    color: var(--paragraph-color);
    text-align: justify;
    line-height: 1.8;
}

/* Section accueil */

.wrapper-accueil {
    max-width: 1024px; /* largeur de référence */
    margin: 0 auto; /* pour centrer */
    justify-content: center;
}

/* Pour laisser de l'espace sous le header fixe */
#accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0rem; /* pour éviter que le contenu passe sous le header */
    min-height: 100vh;
    text-align: center;
    width : 80%;
}

/* Nom principal (animation lettre par lettre) */
#accueil h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--h1-color);
    margin-bottom: 0.5rem;
}

.wrapper-accueil h1 span {
    display: inline-block;
}
/* Animation initiale (une seule fois) */
.animate-once {
    opacity: 0;
    transform: translateY(20px);
    animation: waveOnce 0.5s forwards;
}

  /* Animation en boucle */
.animate-loop {
    animation: waveLoop 8s ease-in-out infinite;
}
    
/* Décalage pour chaque lettre */
.wrapper-accueil h1 span:nth-child(1)  { animation-delay: 0s; }
.wrapper-accueil h1 span:nth-child(2)  { animation-delay: 0.1s; }
.wrapper-accueil h1 span:nth-child(3)  { animation-delay: 0.2s; }
.wrapper-accueil h1 span:nth-child(4)  { animation-delay: 0.3s; }
.wrapper-accueil h1 span:nth-child(5)  { animation-delay: 0.4s; }
.wrapper-accueil h1 span:nth-child(6)  { animation-delay: 0.5s; }
.wrapper-accueil h1 span:nth-child(7)  { animation-delay: 0.6s; }
.wrapper-accueil h1 span:nth-child(8)  { animation-delay: 0.7s; }
.wrapper-accueil h1 span:nth-child(9)  { animation-delay: 0.8s; }
.wrapper-accueil h1 span:nth-child(10) { animation-delay: 0.9s; }
.wrapper-accueil h1 span:nth-child(11) { animation-delay: 1.0s; }
.wrapper-accueil h1 span:nth-child(12) { animation-delay: 1.1s; }
.wrapper-accueil h1 span:nth-child(13) { animation-delay: 1.2s; }
.wrapper-accueil h1 span:nth-child(14) { animation-delay: 1.3s; }
.wrapper-accueil h1 span:nth-child(15) { animation-delay: 1.4s; }
.wrapper-accueil h1 span:nth-child(16) { animation-delay: 1.5s; }


@keyframes waveOnce {
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

/* Keyframes pour l'animation en boucle */
@keyframes waveLoop {
    0%, 15%, 100% { transform: translateY(0); }
    5%      { transform: translateY(-10px); }
    10%      { transform: translateY(10px); }
}


/* Sous-titre (Data Analyst) */
#accueil p {
    font-size: 1.2rem;
    color: var(--paragraph-color);
    margin-bottom: 2rem;
    text-align: center;
}

/* 5. Boutons & icônes dans le hero */
#accueil div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Bouton "Me contacter" */
#accueil button {
    background-color: var(--btn-bg-color);
    color: var(--btn-ft-color);
    border: none;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s ease;
}

#accueil button a {
    color:var(--btn-ft-color);
    text-decoration: none;
}

#accueil button:hover {
    background-color: var(--btn-bg-color-hover);
}

/* Icônes (GitHub, LinkedIn, etc.) */
#accueil a svg {
    width: 24px;
    height: 24px;
    stroke: var(--primary-text);
    transition: stroke 0.2s ease;

}

#accueil a:hover svg {
    stroke: var(--accent-color);
}

.wrapper-a-propos {
    max-width: 1024px; /* largeur de référence */
    margin: 0 auto; /* pour centrer */
}

/* section a propos */
#a-propos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem; /* pour éviter que le contenu passe sous le header */
    min-height: 100vh;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.wrapper-projets {
    max-width: 1600px; /* largeur de référence */
    margin: 0 auto; /* pour centrer */
    width : 99vw;
}

/* section projets */
#projets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 6rem; /* pour éviter que le contenu passe sous le header */
    min-height: 100vh;
    text-align: center;
}

/* section contact */
.wrapper-contact {
    max-width: 1024px; /* largeur de référence */
    margin: 0 auto; /* pour centrer */
    width : 100%;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 6rem; /* pour éviter que le contenu passe sous le header */
    min-height: 85vh ;
    text-align: center;
    width: 100%;
}

/* Conteneur principal avec flexbox pour disposer l'image et le formulaire côte à côte */
.container-contact {
    display: flex;
    padding: 0;
    max-width: 800px;
    margin: 20px auto;

    box-sizing: border-box;
    background: var(--sidebar-bg-gradient); /* Exemple d’utilisation de vos variables */
    border-radius: 25px;
    text-align: center;
    box-shadow: 4px 4px 8px var(--box-shadow);
    overflow: hidden;            /* Masque tout ce qui dépasse (utile si l’image déborde)*/
    height: auto;
}

  /* Conteneur pour l'image à gauche */
.image-container {
    width: 30%;
    position: relative;
    padding: 0;
    margin: 0;
}

.image-contact img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

  /* Conteneur pour le formulaire à droite */
.form-container {
    width: 70%;
    padding: 25px;
}

  /* Disposition en ligne pour les champs prénom et nom */
.input-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.input-row input {
    flex: 1;
    padding: 8px;
    border: 1px solid var(--soft-color);
    border-radius: 3px;
}

  /* Style général des inputs, select et textarea */
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--soft-color);
    border-radius: 3px;
}

textarea {
    max-height: 50vh;
    height: 70px;
    resize: vertical;
} 

#contact button[type="submit"] {
    background-color: var(--btn-bg-color);
    color: var(--btn-ft-color);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

#contact button[type="submit"]:hover {
    background-color: var(--btn-bg-color-hover);
}



/* Style pour la notification */
.notification {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid;
    border-radius: 4px;
}
  /* Style pour un message de succès */
.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
  /* Style pour un message d'erreur */
.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

/* 8. Footer */
footer {
    display: flex;
    max-width: 1024px;
    text-align: center;
    padding: 2rem 1rem;
    background: var(--footer-bg-gradient);
    width: 100%;
}

footer div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer span {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer p {
    
    color: var(--paragraph-color);
}

footer a {
    margin: 0 0.5rem;
    color: var(--primary-text);
    transition: color 0.2s ease;
}


/* Icônes (GitHub, LinkedIn, etc.) */
footer a svg {
    width: 24px;
    height: 24px;
    stroke: var(--primary-text);
    transition: stroke 0.2s ease;
}

footer a:hover svg {
    stroke: var(--accent-color);
}



/* --- SIDEBAR (panneau latéral) --- */
/* Classe pour appliquer un effet de flou qaund la side bare est ouverte*/
.blur {
    filter: blur(5px);
    transition: filter 0.3s ease;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -280px; /* Masquée par défaut */
    width: 280px;
    height: 100vh;
    background: var(--sidebar-bg-gradient);
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transition: left 0.3s ease;
    z-index: 9999;
}

    /* Classe pour ouvrir la sidebar */
    .sidebar--open {
        left: 0;
    }

/* Bouton pour fermer la sidebar */
.btn-close-sidebar {
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    position: absolute;  /* Fixe la position */
    top: 10px;          /* Distance depuis le haut */
    right: 15px;        /* Distance depuis la droite */
    color: var(--primary-text);
    transition: color 0.3s ease;
}
.btn-close-sidebar:hover {
    color: red;  /* Changer de couleur au survol pour plus de visibilité */
}

/* Sidebar Profile */
.sidebar-profile {
    width: 100%; /* Assure que le profil prend toute la largeur */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le contenu à l'intérieur */
    padding-bottom: 1rem; /* Ajoute un petit espacement en bas */
    margin-top: 30px;
}

    .sidebar-profile h2 {
        display: flex !important;
    }

    .profile-picture {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 0.5rem;
    }

    .profile-name {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    .profile-title {
        font-size: 0.95rem;
        color: var(--soft-color);
        margin-bottom: 0.25rem;
    }

    .profile-email {
        font-size: 0.75rem;
        color: var(--primary-text);
        text-decoration: none;
        display: flex;
        align-items: center; 
    }


/* Sidebar Menu */
.sidebar-menu {
    display : flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0 1rem;
}

.sidebar-menu > * {
    width: 100%; /* Prend toute la largeur */
    text-align: left; /* Assure un alignement à gauche du texte */
}

.sidebar-link {
    display: block;
    padding: 0.75rem 0;
    color: var(--primary-text);
    text-decoration: none;
    transition: background 0.2s ease;
    padding-left: 0.35rem;
}

.sidebar-link:hover {
    color: var(--soft-color);
}


.sidebar-actions {
    display : flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0 1rem;
}

    .btn-view-cv {
        display: inline-block;
        background-color: var(--btn-bg-color);
        color: var(--btn-ft-color);
        border-radius: 4px;
        padding: 0.75rem;
        text-decoration: none;
        text-align: center;
        display : flex;
        flex-direction: row;
    }

    .btn-view-cv:hover {
        background-color: var(--btn-bg-color-hover);
    }

.sidebar-social {
    display: flex;
    flex-direction: row;
    align-items: center; /* Alignement vertical */
    justify-content: flex-start; /* Évite que les éléments soient trop espacés */
    margin-top: 40px;
    padding: 0 1rem;
    gap: 1rem; /* Espacement fixe entre chaque élément */
}
    
    /* Icônes (GitHub, LinkedIn, etc.) */
    .sidebar-social a svg {
        width: 24px;
        height: 24px;
        stroke: var(--primary-text);
        transition: stroke 0.2s ease;
    }

    .sidebar-social a:hover svg {
        stroke: var(--accent-color);
    }

    .social-links {
        width: 65%;
        display: flex;
        flex-direction: row;
        align-items: center; /* Alignement vertical */
        justify-content: flex-start; /* Évite que les éléments soient trop espacés */
        padding: 0 1rem;
        gap: 1rem; /* Espacement fixe entre chaque élément */
    }

    /* Animation pour faire glisser les éléments depuis la gauche */
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    }
    
    /* Position initiale cachée pour les éléments animés */
    .sidebar-menu a,
    .sidebar-actions,
    .sidebar-social {
        opacity: 0;
        transform: translateX(-100%);
    }
    
    /* Quand la sidebar est ouverte, on lance l'animation avec des délais progressifs */
    
    /* Pour les liens du menu */
    .sidebar--open .sidebar-menu a:nth-child(1) {
        animation: slideInFromLeft 0.5s forwards;
        animation-delay: 0.1s;
    }
    .sidebar--open .sidebar-menu a:nth-child(2) {
        animation: slideInFromLeft 0.5s forwards;
        animation-delay: 0.2s;
    }
    .sidebar--open .sidebar-menu a:nth-child(3) {
        animation: slideInFromLeft 0.5s forwards;
        animation-delay: 0.3s;
    }
    .sidebar--open .sidebar-menu a:nth-child(4) {
        animation: slideInFromLeft 0.5s forwards;
        animation-delay: 0.4s;
    }
    
    /* Pour les actions (bouton CV) */
    .sidebar--open .sidebar-actions {
        animation: slideInFromLeft 0.5s forwards;
        animation-delay: 0.5s;
    }
    
    /* Pour les liens des réseaux sociaux */
    .sidebar--open .sidebar-social {
        animation: slideInFromLeft 0.6s forwards;
        animation-delay: 0.6s;
    }
    
    


/* --- BOUTON DE SCROLL --- */

.scroll-arrow {
    position: fixed;
    right: 5%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 1000;
    opacity: 0.5;
    background: var(--btn-bg-theme-toggle);
    padding: 6px;
    border-radius: 50%; /* Cercle parfait */
    transition: opacity 0.3s ease, background 0.3s ease;

}

.scroll-arrow svg {
    stroke: var(--primary-text-oposite);
}

.scroll-arrow-top{
    top: 85px;
    will-change: transform;
    animation: floatStopTop 2s ease-in-out infinite;
}

.scroll-arrow-bottom{
    top : 145px;
    will-change: transform;
    animation: floatStopBottom 2s ease-in-out infinite;
}

@keyframes floatStopTop {
    /* Au départ, position normale */
    0% {
        transform: translateX(-50%) translateY(0);
    }
    /* Durant la première 20% (environ 0.6 s sur 3 s), on déplace la flèche vers le haut */
    20% {
        transform: translateX(-50%) translateY(7px);
    }
    /* À 33% (environ 1 s), la flèche revient à sa position initiale */
    33% {
        transform: translateX(-50%) translateY(0);
    }
    /* Puis, elle reste immobile jusqu'à la fin du cycle (2 s de pause) */
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes floatStopBottom {
    /* Au départ, position normale */
    0% {
        transform: translateX(-50%) translateY(0);
    }
    /* Durant la première 20% (environ 0.6 s sur 3 s), on déplace la flèche vers le haut */
    20% {
        transform: translateX(-50%) translateY(-7px);
    }
    /* À 33% (environ 1 s), la flèche revient à sa position initiale */
    33% {
        transform: translateX(-50%) translateY(0);
    }
    /* Puis, elle reste immobile jusqu'à la fin du cycle (2 s de pause) */
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

/***********************************
/* Animation des elements cliquables
************************************/


.button-scale {
    display: inline-block; /* Pour que le transform s'applique correctement */
    animation: scaleAnimation 3s infinite;
}

@keyframes scaleAnimation {
    0%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1);
    }
}
